{% extends 'base.html'%}
{% block title %} 
Microsoft Crime Detection
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <form class="project" method="POST">
        <label id="p3"><h1 id="p3-1-1">Welcome to Microsoft Crime Detection Project</h1></label>
        <br>
        <br>
        <label id="p2">Enter URL of image to be evaluated below: </label>
        <br>
        <input name="u7" id="p4" placeholder="  End with .jpg (G:\\Tensorflow..\\2.jpg)" size="50">       
        <br>        
        <input type="submit" style="background-color:#f14e4e" class="sub">
    </form>
</body>
</html>
{% endblock %}

  