{% extends 'base.html'%}
{% block title %} 
Microsoft Tinder App
{% endblock %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form class="project" method="POST">
            <label id="p3"><h1 id="p3-1-1">Welcome to Microsoft Tinder Project</h1></label>
            <label id="p2">Wanna capture your image for updating database?(y/n): </label>
            <br>
            <input name="u8" id="p2">       
            <br> 
            <br>
            <label id="p2">Beard(y/n) : </label>
            <br>
            <input name="u1" id="p4">       
            <br> 
            <br>
            <label id="p2">Eye color(brown/other) : </label>
            <br>
            <input name="u2" id="p4">       
            <br> 
            <br>
            <label id="p2">Glasses(y/n) : </label>
            <br>
            <input name="u3" id="p4">       
            <br>
            <br>
            <label id="p2">Nose Type:(blunt/sharp) : </label>
            <br>
            <input name="u4" id="p4">       
            <br>  
            <br>
            <label id="p2">Skin Type(black/white) : </label>
            <br>
            <input name="u5" id="p4">       
            <br> 
            <input type="submit" style="background-color:#f14e4e" class="sub">
        </form>
    </body>
    </html>
{% endblock %}